@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section-heading {
  font-family: "Titan One", cursive;
  color: #D41443;
  text-transform: uppercase;
}

.main-text {
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 112px;
  }
}
.modal-backdrop {
  z-index: 999;
  position: fixed;
  background-color: rgba(61, 53, 55, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 95%;
  max-width: 528px;
  height: 95%;
  max-height: 617px;
  top: 50%;
  left: 50%;
  padding: 30px 40px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 23px 11px rgba(22, 38, 51, 0.32);
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .modal {
    overflow: scroll;
  }
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-close-btn-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus .modal-close-btn-svg, .modal-close-btn:hover .modal-close-btn-svg {
  fill: #D41342;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-label {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.928;
  letter-spacing: 0.01em;
}
.modal-form-label:nth-child(-n+3) {
  margin-bottom: 8px;
}
.modal-form-label-name {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.928;
  letter-spacing: 0.04em;
}
.modal-form-label-policy {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.928;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
}
.modal-form-input:focus {
  outline: none;
  border-color: #D41342;
}
.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: #D41342;
}
.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: #D41443;
}
.modal-form-check-policy {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.modal-form-btn {
  width: 160px;
  height: 44px;
  min-height: 44px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D41342;
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:focus {
  background-color: #D41342;
}

.form-title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: #D41443;
}

.check-policy-icon {
  min-width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: #ffffff;
  background-size: contain;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check-policy:focus + .check-policy-icon, .modal-form-check-policy:hover + .check-policy-icon {
  border: 2px solid #D41342;
}
.modal-form-check-policy:checked + .check-policy-icon {
  background-image: url(/form-check.41058749.svg);
  background-size: contain;
  background-color: #D41342;
  background-origin: border-box;
  border-color: #D41342;
}

.policy-link {
  color: #D41342;
}

.backdrop {
  position: fixed;
  background-color: rgba(61, 53, 55, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  z-index: 999;
  position: absolute;
  width: 100%;
  padding-top: 6px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav > .nav-list,
.header-nav > .modal-btn {
  display: none;
}

.logo-img {
  width: 199px;
}

.burger-btn,
.mobile-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.burger-btn {
  width: 20px;
  height: 20px;
}

.mobile-close-btn {
  position: absolute;
  top: 23px;
  right: 10%;
  width: 14px;
  height: 14px;
}

.burger-icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.close-icon {
  display: flex;
  width: 14px;
  height: 14px;
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 33%;
  min-width: 250px;
  height: 100vh;
  padding: 60px 21px 21px 21px;
  top: 0;
  right: 0;
  background: #e17992;
  transform: translateX(50%) translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: -16px 3px 23px 18px rgba(22, 38, 51, 0.16), -16px 3px 23px 45px rgba(22, 38, 51, 0.14);
}
.mobile-menu-nav-item {
  padding: 11px;
  border-top: 1px solid #e18298;
}
.mobile-menu-nav-item:last-child {
  padding: 11px;
  border-bottom: 1px solid #e18298;
}
.mobile-menu-nav-link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
  color: #d41443;
}

.backdrop.is-open > .mobile-menu {
  transform: translateX(0%) translateY(0%);
  z-index: 10;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.modal-btn {
  width: 209px;
  min-height: 44px;
  margin-bottom: 19px;
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  color: #d41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #ecebeb;
}
.modal-btn::after {
  content: url(/icon-arrow.56d7c493.svg);
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
  }
  .header-nav {
    justify-content: flex-start;
  }
  .header-nav > .modal-btn {
    display: block;
    margin-left: 30px;
    margin-bottom: 0;
    width: 160px;
    height: 44px;
  }

  .burger-btn {
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo {
    position: absolute;
    left: 43px;
  }

  .header > .container {
    position: relative;
  }

  .header-nav > .nav-list {
    display: flex;
  }

  .nav-list {
    margin-left: auto;
    margin-right: 110px;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .nav-list-link {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.313;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list-link:hover, .nav-list-link:focus {
    color: #d41443;
  }

  .burger-btn,
.backdrop {
    display: none;
  }

  .header-nav > .modal-btn {
    margin-left: 0;
  }
}
.hero-section {
  width: 100%;
  position: relative;
  background: #ffb8ca url("/t-hero-circle.51993a6a.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 30px) 75px;
  background-size: 344px 344px;
}

.hero-container {
  position: relative;
  margin: 0 auto;
  padding-top: 193px;
  padding-bottom: 160px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-section {
    background: #ffb8ca url("/t-hero-circle.51993a6a.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 30px) 75px;
    background-size: 344px 344px;
  }
}
@media screen and (min-width: 420px) and (max-width: 767px) {
  .hero-section {
    background-position: calc(50% + 100px) 75px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-color: #ffb8ca;
    background-image: none;
  }

  .hero-container {
    background-image: url("/t-hero-circle.51993a6a.png");
    background-repeat: no-repeat;
    background-position: bottom 46px right 137px;
    background-size: 324px 324px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-container {
    background-image: url("/t-hero-circle@2x.3b3c6953.png");
    background-position: bottom 46px right 137px;
    background-size: 324px 324px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    background-image: url("/d-hero-circle.c11bf435.png");
    background-position: bottom 75px right 267px;
    background-size: 538px 538px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero-container {
    background-image: url("/d-hero-circle@2x.f98cd8e9.png");
    background-position: bottom 75px right 267px;
    background-size: 538px 538px;
  }
}
.hero-title {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  z-index: 555;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-link-position {
  display: flex;
  justify-content: flex-start;
  margin-top: 19px;
}

.hero-link {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 24px;
  border: none;
  z-index: 555;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
}
.hero-link:last-child {
  margin-left: 8px;
}

.hero-products-link {
  width: 62.4px;
  background-color: #d41443;
  color: #ffffff;
}
.hero-products-link:hover, .hero-products-link:focus {
  background-color: #c7133e;
}

.hero-how-link {
  width: 82.8px;
  background-color: #ffffff;
  color: #d41443;
}
.hero-how-link:hover, .hero-how-link:focus {
  background-color: #ecebeb;
}

.hero-title-accent {
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
}

.hero-icecone-img {
  position: absolute;
  width: 171px;
  height: 410px;
  bottom: 0;
  right: 32px;
}

@media screen and (max-width: 767px) {
  .hero-bio-text,
.hero-bio-img,
.hero-tasty-img,
.hero-arrow-img,
.hero-arrow-btn,
.hero-counter-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 94px;
    padding-bottom: 34px;
  }
  .hero-container .hero-icecone-img {
    width: 143px;
    height: 336px;
    bottom: 0;
    right: 247px;
  }

  .hero-title-position {
    display: flex;
    flex-direction: row;
  }

  .hero-title {
    width: 162px;
    font-size: 22px;
    line-height: 1.14;
    padding-top: 6px;
  }

  .hero-title-accent {
    font-size: 34px;
    line-height: 90.5%;
  }

  .hero-link-position {
    margin-top: 7px;
  }

  .hero-bio-position {
    padding-left: 120px;
  }

  .hero-bio-img {
    position: absolute;
    width: 124px;
    height: 126px;
    left: 34px;
    top: 248px;
  }

  .hero-bio-text {
    width: 114px;
    margin-top: 66px;
    margin-left: 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;
  }

  .hero-arrow-img {
    width: 18px;
    height: 18px;
  }

  .hero-arrow-btn {
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-top: 7px;
    background: transparent;
    border: none;
    border-radius: 10px;
  }
  .hero-arrow-btn > picture {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 348px;
    left: 153px;
  }

  .hero-counter-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .hero-counter-item {
    position: relative;
    width: 53px;
    height: 44px;
  }
  .hero-counter-item:last-child {
    margin-top: 13px;
  }
  .hero-counter-item::after {
    position: absolute;
    left: 36px;
    top: 0px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
  }

  .hero-counter-number {
    position: relative;
    padding-right: 10px;
    z-index: 555;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
  }

  .hero-counter-text {
    padding-right: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    white-space: nowrap;
    color: #ffffff;
  }

  .hero-tasty-img {
    position: absolute;
    width: 168px;
    height: 133px;
    bottom: 0;
    right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 156px;
    padding-bottom: 56px;
  }
  .hero-container .hero-icecone-img {
    width: 236px;
    height: 557px;
    bottom: 0;
    right: 450px;
  }

  .hero-title {
    width: 277px;
    padding-top: 15px;
    font-size: 38px;
    line-height: 1.18;
  }

  .hero-title-accent {
    font-size: 58px;
  }

  .hero-link-position {
    margin-top: 25px;
  }

  .hero-link {
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
  .hero-link:last-child {
    margin-left: 15px;
  }

  .hero-products-link {
    min-width: 104px;
  }

  .hero-how-link {
    min-width: 138px;
  }

  .hero-bio-position {
    padding-left: 180px;
  }

  .hero-bio-text {
    width: 200px;
    margin-top: 112px;
    font-size: 14px;
    line-height: 140%;
  }

  .hero-bio-img {
    position: absolute;
    width: 188px;
    height: 191px;
    left: 77px;
    top: 438px;
  }

  .hero-arrow-btn {
    width: 24px;
    height: 24px;
    margin-top: 18px;
    border-radius: 50%;
  }
  .hero-arrow-btn > picture {
    width: 25px;
    height: 25px;
    top: 595px;
    left: 291px;
  }

  .hero-counter-item {
    width: 92px;
    height: 76px;
  }
  .hero-counter-item:last-child {
    margin-top: 15px;
  }
  .hero-counter-item::after {
    left: 62px;
    top: 0px;
    content: "";
    width: 30px;
    height: 30px;
  }

  .hero-counter-number {
    padding-right: 18px;
    font-size: 46px;
    line-height: 1.15;
  }

  .hero-counter-text {
    padding-right: 18px;
    font-size: 14px;
    line-height: 1.28;
  }

  .hero-tasty-img {
    position: absolute;
    width: 293px;
    height: 232px;
    bottom: 0;
    right: 109px;
  }
}
.products-caption {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}

.products-title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #D41443;
  text-transform: uppercase;
}

.products-items {
  border-radius: 24px;
  position: relative;
}

.products-items:first-child {
  background-color: #FFB8CA;
}

.products-items:nth-child(2n+2) {
  background-color: #F0D1A5;
}

.products-items:last-child {
  background-color: #C2E297;
}

.products-item-name {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products-item-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.products-item-1::before {
  content: "";
  background-image: url("/products-img-1.419fd387.png");
  position: absolute;
  top: 0;
}

.products-item-2::before {
  content: "";
  background-image: url("/products-img-2.9816dd68.png");
  position: absolute;
  top: 0;
}

.products-item-3::before {
  content: "";
  background-image: url("/products-img-3.7bd34d58.png");
  position: absolute;
  top: 0;
}

.products-item-name::after {
  content: "...";
  text-overflow: ellipsis;
  color: #ffffff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  border: none;
}

.products-item-button {
  background: transparent;
  border: none;
}

.products-item-button-image {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 320px) {
  .products-caption {
    font-size: 18px;
    line-height: 1.17;
  }

  .products {
    padding-top: 121px;
    padding-bottom: 98px;
  }

  .products-title {
    font-size: 34px;
    line-height: 1.15;
    margin-bottom: 144px;
  }

  .products-list {
    display: flex;
    flex-direction: column;
  }

  .products-items {
    max-width: 440px;
    height: 485px;
    margin-bottom: 130px;
  }

  .products-item-name {
    font-size: 20px;
    line-height: 1.15;
    position: relative;
  }

  .products-item-text {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 66px;
    margin-bottom: 30px;
  }

  .products-item-1,
.products-item-2,
.products-item-3 {
    padding: 161px 40px 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .products-item-1::before,
.products-item-2::before,
.products-item-3::before {
    width: 249px;
    height: 252px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-46%);
  }

  .products-item-name::after {
    left: 50px;
    top: 39px;
  }
}
@media screen and (min-width: 768px) {
  .products-caption {
    font-size: 26px;
    line-height: 1.15;
  }

  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  .products-title {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 150px;
  }

  .products-items {
    width: 220px;
    height: 485px;
    margin: 10px;
  }

  .products-list {
    display: flex;
    flex-wrap: nowrap;
    margin: -10px;
    padding: 0;
    flex-direction: row;
  }

  .products-item-text {
    font-size: 14px;
    line-height: 1.79;
    margin-top: 66px;
    margin-bottom: 40px;
  }

  .products-item-1,
.products-item-2,
.products-item-3 {
    padding: 152px 11px 40px;
  }

  .products-item-1::before,
.products-item-2::before,
.products-item-3::before {
    width: 220px;
    height: 226px;
    background-size: cover;
    transform: translateY(-46%);
    left: 0;
  }

  .products-item-name {
    position: static;
  }

  .products-item-name::after {
    left: 95px;
    top: 190px;
  }
}
@media screen and (min-width: 1280px) {
  .products-caption {
    font-size: 30px;
    line-height: 34px;
  }

  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  .products-title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 259px;
  }

  .products-items {
    width: 329px;
    height: 525px;
    margin: 14px;
  }

  .products-list {
    display: flex;
    flex-wrap: nowrap;
    margin: -14px;
    padding: 0;
    flex-direction: row;
  }

  .products-item-name {
    font-size: 30px;
    line-height: 1.13;
  }

  .products-item-text {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 70px;
    margin-bottom: 62px;
  }

  .products-item-1,
.products-item-2,
.products-item-3 {
    padding: 163px 44px 50px;
  }

  .products-item-1::before {
    width: 335px;
    height: 335px;
    transform: translateY(-64%);
  }

  .products-item-2::before {
    width: 335px;
    height: 335px;
    transform: translateY(-64%);
  }

  .products-item-3::before {
    width: 335px;
    height: 335px;
    transform: translateY(-64%);
  }

  .products-item-name::after {
    left: 151px;
    top: 205px;
  }
}
.about-section {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 0px bottom 97px;
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: #FFF5F6;
}

.about-section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  margin-bottom: 26px;
}

.about-img {
  width: 280px;
  height: 279px;
  background-image: url("/mobile-1.14ec7571.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 45px;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.about-icon {
  width: 8px;
  height: 10px;
  margin-left: 14px;
}

.about-section-text-list {
  margin-bottom: 40px;
}

.about-text-list-item {
  font-weight: 500;
  max-width: 380px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
}
.about-text-list-item:not(:last-child) {
  margin-bottom: 40px;
}
.about-text-list-item:last-child {
  color: #907E82;
}

.about-button {
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
  text-align: center;
  color: #D41443;
  padding: 10px 37px;
  align-self: flex-start;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-button:focus {
  background-color: #ECEBEB;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .about-img {
    background-image: url("/mobile-1@2x.d77c808c.png");
  }
}
@media screen and (max-width: 767px) {
  .about-section {
    background-image: url("/mobile-2.d409e750.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (min-width: 320px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .about-section {
    background-image: url("/mobile-2@2x.e7810fa7.png");
  }
}
@media screen and (max-width: 767px) {
  .about-text {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .about-img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .about-img-text {
    display: flex;
  }

  .about-title {
    margin-bottom: 50px;
  }

  .about-button {
    font-size: 16px;
    line-height: 1.31;
  }

  .about-img {
    background-image: url("/tablet-1.9f03a3bf.png");
    width: 340px;
    height: 339px;
    margin-right: 8px;
    margin-bottom: 0px;
  }

  .about-text-list-item {
    width: 340px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 1.76;
  }
  .about-text-list-item:last-child {
    letter-spacing: 0.04em;
  }

  .about-section-text-list {
    margin-bottom: 62px;
  }

  .about-text {
    margin-top: 50px;
  }

  .about-section {
    padding-top: 125px;
    padding-bottom: 66px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .about-img {
    background-image: url("/tablet-1@2x.aaa37d23.png");
  }
}
@media screen and (min-width: 1280px) {
  .about-section {
    background-image: url("/desktop-2.4d851839.png");
    background-position: center;
    padding-bottom: 40px;
  }

  .about-title {
    margin-bottom: 55px;
  }

  .about-img {
    background-image: url("/desktop-1.e292f1c7.png");
    width: 516px;
    height: 516px;
    margin-right: 30px;
    margin-bottom: 0px;
  }

  .about-text-list-item {
    max-width: 400px;
    width: 100%;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-left: 0px;
  }
  .about-text-list-item:last-child {
    font-size: 14px;
    line-height: 1.94;
  }
  .about-text-list-item:not(:last-child) {
    margin-bottom: 35px;
  }

  .about-section-text-list {
    margin-bottom: 45px;
  }

  .about-text {
    margin-left: 30px;
  }

  .about-button {
    cursor: pointer;
  }
  .about-button:hover {
    background-color: #ECEBEB;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-width: 1280px) {
  .about-section {
    background-image: url("/desktop-2@2x.f467460f.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-width: 1280px) {
  .about-img {
    background-image: url("/desktop-1@2x.e679705d.png");
  }
}
.advantages {
  padding-top: 39px;
  padding-bottom: 97px;
  background-color: #FFF5F6;
}

.advantages-block {
  position: relative;
}
.advantages-block:not(:first-child) {
  margin-top: 100px;
}

.advantages-heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
}
.advantages-heading::before {
  content: "";
  position: absolute;
  top: -65px;
}

.advantages-heading.first::before {
  background: url(/icon1.7ef6014f.png);
  width: 33px;
  height: 50px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages-heading.first::before {
    background: url(/icon1@2x.938b52ac.png) no-repeat;
    background-size: contain;
  }
}

.advantages-heading.second::before {
  background: url(/icon2.f7a30458.png);
  width: 50px;
  height: 50px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages-heading.second::before {
    background: url(/icon2@2x.e4ab06c5.png) no-repeat;
    background-size: contain;
  }
}

.advantages-heading.third::before {
  background: url(/icon3.42b26187.png);
  width: 44px;
  height: 50px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages-heading.third::before {
    background: url(/icon3@2x.92bfb4cc.png) no-repeat;
    background-size: contain;
  }
}

.advantages-description {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}

.advantages-block-item:nth-child(2) {
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  .advantages-block:not(:first-child) {
    margin-top: 0;
  }

  .advantages-description {
    font-size: 14px;
  }

  .advantages-heading {
    font-size: 48px;
  }

  .advantages-container {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-gap: 60px;
  }

  .advantages-block-item:nth-child(2) {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    padding-bottom: 139px;
  }

  .advantages-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages-heading {
    font-size: 58px;
  }

  .advantages-description {
    font-size: 16px;
  }

  .advantages-block-item :nth-child(2) {
    margin: 40px 0 0 15px;
  }
}
.gallery {
  width: 100%;
  background-image: linear-gradient(to top, white, white 50%, #FFF5F6 51%, #FFF5F6 100%);
}

@media screen and (min-width: 320px) {
  .customer-reviews-pic1 {
    display: inline-block;
    background-size: cover;
    width: 85px;
    height: 85px;
    background-image: url(/customer-pic1@1x.386f33e0.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .customer-reviews-pic1 {
    display: inline-block;
    background-size: cover;
    width: 85px;
    height: 85px;
    background-image: url(/customer-pic1@2x.669fefc4.jpg);
  }
}
@media screen and (min-width: 320px) {
  .customer-reviews-pic2 {
    display: inline-block;
    background-size: cover;
    width: 85px;
    height: 85px;
    background-image: url(/customer-pic2@1x.33eef99a.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .customer-reviews-pic2 {
    display: inline-block;
    background-size: cover;
    width: 85px;
    height: 85px;
    background-image: url(/customer-pic2@2x.de7a16e0.jpg);
  }
}
@media screen and (min-width: 320px) {
  .customer-reviews-pic3 {
    display: inline-block;
    background-size: cover;
    width: 85px;
    height: 85px;
    background-image: url(/customer-pic3@1x.7a4b83ed.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .customer-reviews-pic3 {
    display: inline-block;
    background-size: cover;
    width: 85px;
    height: 85px;
    background-image: url(/customer-pic3@2x.96eb51f5.jpg);
  }
}
.customer-reviews-title {
  display: none;
}

.customer-reviews {
  padding-top: 80px;
}

.customer-reviews-div {
  text-align: center;
}

.cust-text {
  position: relative;
  margin: 0 auto;
  width: 280px;
  background-color: #FAFAFA;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 16px;
  padding-top: 43px;
}
.cust-text::before {
  width: 54px;
  z-index: 1;
  top: 28px;
  left: 61px;
  height: 40px;
  position: absolute;
  content: "";
  background-size: contain;
  background-image: url(/quotes.4d7be276.svg);
}

.customer-reviews-text {
  position: relative;
  z-index: 20;
  width: 180px;
  padding-left: 7px;
  padding-right: 7px;
  display: inline-block;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 28.5px, #E1E1E1 30.5px);
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: 0.04em;
  color: #000000;
  background-color: transparent;
}

.customer-reviews-info {
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

.customer-reviews-list {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 200px;
  margin-bottom: 20px;
}

.customer-reviews-list-item {
  text-align: center;
  margin-right: 10px;
}
.customer-reviews-list-item::before {
  display: inline-block;
  color: #C7133E;
  content: "•";
}

@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 121px;
  }

  .customer-reviews-text {
    width: 515px;
    padding-right: 44px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 2.16;
  }

  .cust-text {
    width: 620px;
    padding-left: 40px;
    padding-right: 36px;
    margin-top: 20px;
    margin-bottom: 24px;
    padding-bottom: 18px;
    padding-top: 47px;
  }
  .cust-text::before {
    top: 30px;
    left: 30px;
  }

  .customer-reviews-list {
    margin-bottom: 12px;
  }

  .customer-reviews-info {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .customer-reviews-text {
    width: 800px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 16px;
    line-height: 1.86;
  }

  .cust-text {
    width: 922px;
    margin-top: 20px;
    margin-bottom: 14px;
    padding-bottom: 25px;
  }
  .cust-text::before {
    top: 34px;
    left: 50px;
  }

  .customer-reviews-info {
    margin-bottom: 35px;
  }
}
.contacts {
  background-image: linear-gradient(white 12%, #fff5f6 1%);
}

.section-padding {
  padding-top: 86px;
  padding-bottom: 113px;
}

.contacts-visually-hidden {
  visibility: hidden;
}

.contacts-restaurants {
  margin: 0 auto;
  padding-bottom: 54px;
  justify-content: center;
}

.contacts-address-information {
  max-width: 370px;
  margin: 0 auto;
  padding: 43px 20px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts-address-information:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item-cafe {
  width: 80px;
  background: #f0d1a5;
  border-radius: 4px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 25px;
}

.contacts-name-cafe {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}

.contacts-cafe-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  padding-bottom: 50px;
  position: relative;
}

.contacts-cafe-description::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 60px;
  width: 179px;
  height: 0px;
  border: 1px solid #e1e1e1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-cafe-work-days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

.contacts-cafe-work-houers {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
  font-family: DM Sans;
  font-style: normal;
  margin-bottom: 10px;
}

.foodtruck {
  background: #c2e297;
  width: 130px;
}

.contacts-address {
  margin-top: 50px;
  position: relative;
}

.contacts-address::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 60px;
  width: 179px;
  height: 0px;
  border: 1px solid #e1e1e1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-information {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts-button-item {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 22px;
  width: 161.45px;
  height: 44px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-location {
  display: flex;
  justify-content: center;
  background: #d41342;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.button-franchise {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  background: #ffffff;
  text-align: center;
  color: #d41443;
}

@media screen and (min-width: 320px) and (max-width: 769px) {
  .position-content {
    width: 200px;
    align-items: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: linear-gradient(white 26%, #fff5f6 1%);
  }

  .section-padding {
    padding-top: 119px;
    padding-bottom: 165px;
  }

  .contacts-restaurants {
    display: flex;
    margin: -10px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts-address-information {
    padding: 50px 31px;
    margin: 10px;
    margin-bottom: 20px;
  }

  .contacts-cafe-description {
    padding-bottom: 60px;
  }

  .contacts-cafe-description::after {
    width: 157px;
    top: 85px;
  }

  .contacts-item-cafe {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 30px;
  }

  .contacts-name-cafe {
    font-size: 14px;
    margin-bottom: 14px;
  }

  .contacts-cafe-work-days {
    font-size: 14px;
    min-width: 124px;
  }

  .contacts-cafe-work-houers {
    font-size: 14px;
    min-width: 142px;
    margin-bottom: 14px;
  }

  .contacts-address {
    margin-top: 60px;
  }

  .contacts-address::before {
    bottom: 80px;
    width: 157px;
  }

  .contact-information {
    font-size: 14px;
    line-height: 1.83;
  }

  .contacts-button {
    display: flex;
    justify-content: center;
    margin-top: 61px;
  }

  .contacts-button-item {
    margin-left: 14.5px;
  }

  .button-location {
    width: 191.45px;
  }

  .button-franchise {
    width: 174.05px;
  }
}
@media screen and (min-width: 1280px) {
  .section-padding {
    padding-top: 132px;
  }

  .contacts {
    background-image: url(/sectionbg.2fa7b5bc.png), linear-gradient(white 26%, #fff5f6 1%);
    background-repeat: no-repeat;
    background-position: center;
  }

  .contacts-restaurants {
    margin: -15.5px;
    padding: 0;
    justify-content: center;
  }

  .contacts-address-information {
    padding: 51px 43px;
    margin: 15.5px;
    margin-bottom: 20px;
    width: 330px;
  }

  .contacts-item-cafe {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .contacts-name-cafe {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contacts-cafe-description {
    max-width: 243px;
    font-size: 16px;
    padding-bottom: 64px;
  }

  .contacts-cafe-description::after {
    width: 234px;
    top: 80px;
  }

  .contacts-cafe-work-days {
    font-size: 16px;
  }

  .contacts-cafe-work-houers {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .contacts-address {
    margin-top: 64px;
    padding-bottom: 12px;
  }

  .contacts-address::before {
    bottom: 85px;
    width: 234px;
  }

  .contact-information {
    font-size: 16px;
  }

  .contacts-button {
    display: flex;
    justify-content: center;
    margin-top: 86px;
  }

  .contacts-button-item {
    margin-left: 15px;
  }

  .button-location {
    width: 198px;
  }

  .button-franchise {
    width: 180px;
  }
}
.footer {
  background-color: #FFF5F6;
}
.footer .label-title {
  text-align: left;
}
.footer .title {
  text-align: left;
}

.footer-title-container {
  width: 234px;
  height: 135px;
  padding-bottom: 43px;
}

.footer-social-list {
  width: 152px;
  display: flex;
  align-self: end;
  justify-content: space-between;
  padding: 43px 0 46px 0;
  margin-right: 0;
  margin-left: auto;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FEA5BB;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: #D41443;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-contact-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000000;
  padding-bottom: 43px;
}
.footer-contact-title a {
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #D41443;
}

.footer-rights-container {
  border-top: 1px solid #E1E1E1;
}

.footer-rights {
  padding-top: 22px;
  padding-bottom: 25px;
  width: 100%;
  max-width: 148px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907E82;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 91px;
  }

  .footer-social-list {
    width: 152px;
    display: flex;
    align-self: end;
    justify-content: space-between;
    padding-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .footer-social-list-link {
    width: 34px;
    height: 34px;
  }

  .footer-title-container {
    width: 340px;
    height: 183px;
    padding-bottom: 43px;
  }

  .footer-flex-container {
    display: flex;
  }

  .footer-contact-title {
    font-size: 14px;
  }
  .footer-contact-title a {
    font-size: 14px;
  }

  .footer-rights {
    padding-top: 22px;
    padding-bottom: 25px;
    width: 100%;
    max-width: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer-title-container {
    width: 475px;
    height: 115px;
    padding-bottom: 97px;
  }

  .footer-contact-title {
    font-size: 16px;
  }
  .footer-contact-title a {
    font-size: 16px;
  }
}
.label-title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .label-title {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .label-title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 15px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  background: url("/icon_top.9c7abca8.png") no-repeat;
  opacity: 0.2;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .scrollup {
    background: url(/icon_top2x.ac616772.png) no-repeat;
    background-size: contain;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */