<section class="customer-reviews" id="about">
    <div class="container">
        <h2 class="customer-reviews-title">Отзывы покупателей</h2>
    <div class="customer-reviews-div">
        <div>
            <div class="customer-reviews-pic1"></div>
            <div class="cust-text">
                <p class="customer-reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                
            </div>
            <ul class="customer-reviews-list">
                <li class="customer-reviews-list-item"> </li>
                <li class="customer-reviews-list-item"> </li>
                <li class="customer-reviews-list-item"> </li>
            </ul>
            <span class="customer-reviews-info">Emily, Los Angeles</span> 
        </div>
        <div>
            <div class="customer-reviews-pic2"></div>
            <div class="cust-text">
                <p class="customer-reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <ul class="customer-reviews-list">
                    <li class="customer-reviews-list-item"> </li>
                    <li class="customer-reviews-list-item"> </li>
                    <li class="customer-reviews-list-item"> </li>
                </ul>
                <span class="customer-reviews-info">Emily, Los Angeles</span> 
        </div>
        <div>
            <div class="customer-reviews-pic3"></div>
            <div class="cust-text">
                <p class="customer-reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <ul class="customer-reviews-list">
                    <li class="customer-reviews-list-item"> </li>
                    <li class="customer-reviews-list-item"> </li>
                    <li class="customer-reviews-list-item"> </li>
                </ul>
                <span class="customer-reviews-info">Emily, Los Angeles</span> 
        </div> 
    </div>
    </div>
    </section>    