<section class="gallery">
    <div class="container">
        <picture class="ice-cream-gallery">
            <source srcset="./images/gallery-ice-cream/desktop-gallery.webp 1x, ./images/gallery-ice-cream/desktop-gallery@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="./images/gallery-ice-cream/desktop-gallery.jpg 1x, ./images/gallery-ice-cream/desktop-gallery@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="./images/gallery-ice-cream/tablet-gallery.webp 1x, ./images/gallery-ice-cream/tablet-gallery@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/gallery-ice-cream/tablet-gallery.jpg 1x, ./images/gallery-ice-cream/tablet-gallery@2x.jpg 2x " media="(min-width: 768px)">
            <source srcset="./images/gallery-ice-cream/mobile-gallery.webp 1x, ./images/gallery-ice-cream/mobile-gallery@2x.webp 2x " media="(min-width: 480px)" type="image/webp">
            <source srcset="./images/gallery-ice-cream/mobile-gallery.jpg 1x, ./images/gallery-ice-cream/mobile-gallery@2x.jpg 2x " media="(min-width: 480px)">
            <img class="ice-cream" src="./images/gallery-ice-cream/desktop-gallery.jpg" alt="Ice Cream">
        </picture> 
    </div>   
</section>

