
      @media screen and (min-width: 320px) {
        .customer-reviews-pic1 {
          display: inline-block;
        
          background-size: cover;
          width: 85px;
          height: 85px;
          background-image: url(../../src/images/customer-reviews/customer-pic1@1x.jpg);
        }
      }
   @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
     screen and (min-resolution: 192dpi) and (min-width: 320px),
     screen and (min-resolution: 2dppx) and (min-width: 320px) {
       .customer-reviews-pic1 {
         display: inline-block;
       
         background-size: cover;
         width: 85px;
         height: 85px;
         background-image: url(../../src/images/customer-reviews/customer-pic1@2x.jpg);
       }
   }
   @media screen and (min-width: 320px) {
     .customer-reviews-pic2 {
       display: inline-block;
     
       background-size: cover;
       width: 85px;
       height: 85px;
       background-image: url(../../src/images/customer-reviews/customer-pic2@1x.jpg);
     }
   }
   
   @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
     screen and (min-resolution: 192dpi) and (min-width: 320px),
     screen and (min-resolution: 2dppx) and (min-width: 320px) {
       .customer-reviews-pic2 {
         display: inline-block;
       
         background-size: cover;
         width: 85px;
         height: 85px;
         background-image: url(../../src/images/customer-reviews/customer-pic2@2x.jpg);
       }
   }
   @media screen and (min-width: 320px) {
     .customer-reviews-pic3 {
       display: inline-block;
     
       background-size: cover;
       width: 85px;
       height: 85px;
       background-image: url(../../src/images/customer-reviews/customer-pic3@1x.jpg);
     }
   }
   
   @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
     screen and (min-resolution: 192dpi) and (min-width: 320px),
     screen and (min-resolution: 2dppx) and (min-width: 320px) {
       .customer-reviews-pic3 {
         display: inline-block;
       
         background-size: cover;
         width: 85px;
         height: 85px;
         background-image: url(../../src/images/customer-reviews/customer-pic3@2x.jpg);
       }
   }
   .customer-reviews-title{
       display: none;
   }
   .customer-reviews {
    padding-top: 80px;
   }
   .customer-reviews-div{ 
       text-align: center;
 
   }
   .cust-text {
       position: relative;
     background-color: $customer-review-bg;
     margin-top: 20px;
     margin-bottom:30px;
       padding-bottom: 16px;
       padding-top: 43px;
       &::before {
        width: 54px;
        z-index: 1;
        top: 28px;
        left: 130px;
        height: 40px;
        position: absolute;
        content: '';
        background-size: contain;
        background-image: url(../../src/images/quotes.svg);
    }
       
   }
 
   .customer-reviews-text {
       position: relative;
       z-index: 20;
     width: 175px;
     display: inline-block;
     background-image: 
     repeating-linear-gradient(180deg, transparent, transparent 28.5px, $customer-review-accent 30.5px);
       text-align: center;
       font-family: $main-font; 
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.86;
       text-align: center;
       padding-bottom: 10px;
       letter-spacing: 0.04em;   
       color: #000000;
       background-color: transparent;
       
   }
 

 
   .customer-reviews-info {
     font-family: $main-font;
       display: flex;
       justify-content: center;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.86;
     text-align: center;
     margin-bottom: 30px;
     
     color: #000000;
   }
   .customer-reviews-list {
     margin: 0 auto;
     text-align: center;
     display: flex;
     justify-content: center;
     
     width: 200px;
     margin-bottom: 20px;
   }
   .customer-reviews-list-item {
     text-align: center;
     margin-right: 10px;
     &::before {
        display: inline-block;
        color: #C7133E;
        content: '•';
      }
   }

   @media screen and (min-width: 768px) {
     .customer-reviews-text {
       width: 550px; 
     }
     .cust-text {
       margin-top: 20px;
       margin-bottom: 24px;
         padding-bottom: 24px;
         padding-top: 47px;
         &::before {
            top: 30px;
            left: 50px;
        }
         
     }
     .customer-reviews-list {
       margin-bottom: 12px;
     }
     .customer-reviews-info {
       margin-bottom: 30px;
     }
   }
   
   @media screen and (min-width: 1280px) {
    .customer-reviews-text {
      width: 822px; 
    }
    .cust-text {
      margin-top: 20px;
      margin-bottom: 24px;
        padding-bottom: 29px;
        &::before {
            top: 34px;
            left: 95px;
        }
  
        
    }
    .customer-reviews-info {
      margin-bottom: 35px;
    }
  }